<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <style>
    table, th, td {
        text-align:right;
    }
  </style>
  <thead>
    <tr>
      <th style="text-align: left">Name</th>
      <th>Size</th>
      <th>balance</th>
      <th>Reputation</th>
      <th>Teamid</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td style="text-align: left"><%= link_to team.name, team %></td>
        <td><%= team.gladiators.where(death: nil).count %></td>
        <td><%= team.accountbalance %></td>
        <td><%= team.reputation %></td>
        <td><%= team.id %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Backfill All', backfillAll_path %> | 
<%= link_to 'New Team', new_team_path %> | 
<%= link_to 'Deactivated Teams', showInActive_path %> | 
<br><br>
<%= link_to 'Events', events_path %>
