<h1><%= @event.name %></h1>

<p>
  <strong>Scheduled:</strong>
  <%= @event.scheduledDate %>
<br>
  <strong>Run:</strong>
  <%= @event.runDate %>
</p>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Build Schedule' , buildSchedule_path(@event) %> |
<%= link_to 'Run' , run_event_path(@event) %> |
<%= link_to 'Back', events_path %>


<h2>Fights on Schedule</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Fighters</th>
      <th>Winner</th>
      <th>Rounds</th>
    </tr>
  </thead>

  <tbody>
    <% @event.fights.sort_by(&:sequence).each do |fight| %>
      <tr>
      <td><%= link_to fight.id, event_fight_path(@event,fight)%></td>
      <td><% fight.fight_items.each do |fighter| %>

          (<%= fighter.gladiator.team.name %>)
          <%= link_to fighter.name, team_gladiator_path(fighter.gladiator.team, fighter.gladiator) %>
          <%= if fighter.died then '<font color=darkred>(died)</font>'.html_safe end %>
          <%= if fighter.wounded then '<font color=red>(wounded)</font>'.html_safe end %>
        <% end %>
        </td>
        <td><%= fight.winner %></td>
        <td><%= fight.rounds%></td>
      </tr>
    <% end %>
  </tbody>
  </table>

