<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fight_style.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @fight_style.active %>
</p>

<%= link_to 'Edit', edit_fight_style_path(@fight_style) %> |
<%= link_to 'Back', fight_styles_path %>
