
<p id="notice"><%= notice %></p>
<head>
<p><%= link_to 'Event', @event %> |
<%= link_to 'Back', :back %> |
<%= link_to 'Run', run_fight_path(@fight) %></p>

Event: <%= @event.name %><br>
Fight ID: <%= @fight.id.to_s %><br>
Sequence: <%= @fight.sequence %><br>

</head>
<body>
<h1>Fighters in Fight</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <td>Rep</th>
      <th>Team</th>
    </tr>
  </thead>

  <tbody>
    <% @fight.fight_items.each do |fighter| %>
      <tr>
      <td><%= if fighter.won then '<font color=green>won</font>'.html_safe end %></td>
      <td><%= if fighter.died then '<font color=darkred>died</font>'.html_safe end %>
          <%= if fighter.wounded then '<font color=red>wounded</font>'.html_safe end %></td>
        <td><%= link_to fighter.gladiator.name, team_gladiator_path(fighter.gladiator.team,fighter.gladiator) %></td>
        <td style="text-align:right"><%= fighter.gladiator.reputation %></td>
        <td><%= fighter.gladiator.team.name %></td>
          
      </tr>
    <% end %>
  </tbody>
  </table>

<!-- only print the log if the fight has happened-->
<h2>Fight Log</h2>
<%= if not(@fight.log.nil?) then @fight.log.html_safe else 'Fight not fought.' end %>
</body>
<footer>
<!-- footer controls-->
<p>
<%= link_to 'Event', @event %> |
<%= link_to 'Back', :back %> |
<%= link_to 'Run', run_fight_path(@fight) %>
</p>
</footer>