<%= link_to 'Edit', edit_team_gladiator_path(@team, @gladiator) %> |
<%= link_to 'Destroy', team_gladiator_path(@team,@gladiator), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', :back %> |
<%= link_to 'Team', @team %>

<p id="notice"><%= notice %></p>

<h1><%= @gladiator.name %></h1>


<p>
  <strong>Fight style:</strong>
  <%= @gladiator.fightStyle %> -
  <%= @gladiator.getStyleName %>
<br>
  <strong>Reputation:</strong>
  <%= @gladiator.reputation %>
  <br>
  <strong>Experience:</strong>
<%= @gladiator.exp %>
</p>

<p>
<h2>Core Stats</h2>
<table>
<style>
table, th, td {
    text-align:right;
}
</style>
  <tr>
    <td><strong>Str:</strong></td>
    <td><%= @gladiator.str %></td>
    <td><button type="button" name="str">+</button></td>
  </tr>

  <tr>
    <td><strong>Dex:</strong></td>
    <td><%= @gladiator.dex %></td>
    <td><button type="button" name="dex">+</button></td>
  </tr>

  <tr>
    <td><strong>Spd:</strong></td>
    <td><%= @gladiator.spd %></td>
    <td><button type="button" name="spd">+</button></td>
  </tr>

  <tr>
    <td><strong>Con:</strong></td>
    <td><%= @gladiator.con %></td>
    <td><button type="button" name="con">+</button></td>
  </tr>

  <tr>
    <td><strong>Chr:</strong></td>
    <td><%= @gladiator.chr %></td>
    <td><button type="button" name="chr">+</button></td>
  </tr>

  <tr>
    <td><strong>Intl:</strong></td>
    <td><%= @gladiator.intl %></td>
    <td><button type="button" name="intl">+</button></td>
  </tr>
</table>
</p>
<p>
  <strong>Hp:</strong>
  <%= @gladiator.hp %>

<strong>Wounds:</strong>
  <%= @gladiator.wounds %>

  <strong>Hitmod:</strong>
  <%= @gladiator.hitmod %>

  <strong>Strmod:</strong>
  <%= @gladiator.strmod %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @gladiator.birth %>
<br>
  <strong>First fight:</strong>
  <%= @gladiator.firstfight %>
<br>
  <strong>Death:</strong>
  <%= @gladiator.death %>
</p>


<h2>My Fights</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Winner</th>
      <th>Rounds</th>
    </tr>
  </thead>

  <tbody>
    <% @myfights.each do |fight| %>
      <tr>
        <td><%= link_to fight.id, event_fight_path(fight.event, fight) %></td>
        <td><%= fight.winner %></td>
        <td><%= fight.rounds %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

<%= link_to 'Edit', edit_team_gladiator_path(@team, @gladiator) %> |
<%= link_to 'Destroy', team_gladiator_path(@team,@gladiator), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', :back %> |
<%= link_to 'Team', @team %>
